<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>showProduct</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="javascript/show.js"></script>
    <link rel="stylesheet" href="styles/show.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">
        <img
          src="images/mecodeGrayscaleLogo.svg"
          width="150"
          height="50"
          class="d-inline-block mx-4"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbar"
        aria-controls="#myNavbar"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link color-white" href="home.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-white" href="acount.html">SETTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-white" href="http://localhost:3000/logout"
              >LOG OUT</a
            >
          </li>
          <li class="nav-item">
            <div class="border-right mx-2 color-white"></div>
          </li>
          <li class="nav-item">
            <p class="nav-link color-white no-margin">ENG</p>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container bg-light">
      <div id="app">
        <product @add-to-cart="updateCart"></product>
        <div>
          <h2>Order Confirmation</h2>
          <p v-if="!orderConfirmations.length">There are no orders yet.</p>
          <ul>
            <li v-for="confirmation in orderConfirmations">
              <p>Sugar Level: {{ confirmation.sugarLevel }}</p>
              <p>Cup Size: {{ confirmation.cupSize }}</p>
              <p>Flavor: {{ confirmation.flavor }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
